/* Navbar */
nav{
    background-color: white;
}

.vertical_line{
    border: 1px solid #f2f2f2;
    height: 80px;
}

.nav_section_2>h5{
    font-weight: 700;
    margin: 0px;
}

.nav_section_2>p{
    font-size: 14px;
    margin: 0px !important;
}

.nav_section_3{
    padding-inline: 10px;
    background-color: #f8f8f8;
    border-radius: 10px;
    border: 1px solid #f2f2f2;
}

.nav_section_3>input{
    background-color: transparent;
    border: none;
    width: 30vw;
    height: 45px;
}


#login_button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}

#login_button:hover{
    color: blue;
}

.containers{
    overflow-x: scroll;
    gap:20px;
    white-space: nowrap;
}

.containers::-webkit-scrollbar{
    display:none;
}

.my-card{
    width: 180px;
    white-space: wrap;
    margin-inline: 8px;
    border-radius: 10px !important;
    display: inline-block !important;
}

.time{
    font-size: 10px;
    font-weight: 700;
    background-color: #f2f2f2;
    width: fit-content;
    border-radius: 2px;
}

.product_type{
    font-size: 14px;
    font-weight: 600;
}

.price{
    font-size: 14px;
    font-weight: 500;
}

.product_weight{
    font-size: 12px;
}

.add_btn{
    font-weight: 600 !important;
}

.footer_section_2{

}

.footer_1{
    flex: 1;
    font-size: 13px;
}

.footer_2{
    flex: 1;
}

.footer_3{
    flex: 1;
}

.footer_4{
    flex: 2;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    background-color: black;
    font-size: 25px;
}

.foot_section_2{
    width: 90%;
    margin: auto;
}

table{
    width: 100%;
    color: #666666;
    font-size: 14px;
}

td{
    padding: 3px;
}

td:hover{
    text-shadow: 2px 2px 8px #666666;
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

.insta:hover{
    cursor: pointer;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.fb:hover{
    cursor: pointer;
    background-color: #4267B2;
}

.twit:hover{
    cursor: pointer;
    background-color: #1DA1F2;
}

.linkedin:hover{
    cursor: pointer;
    background-color: #0077B5;
}

.youtube:hover{
    cursor: pointer;
    background-color:red;
}
